behave==1.2.6
fastapi==0.104.0
fsspec==2023.9.2
hiplot==0.1.33
hydra-core==1.3.2
lightning==1.8.6
lightning_jupyter==0.0.2
lightning_transformers==0.2.5
lightning_utilities==0.9.0
numpy==1.24.3
playwright==1.39.0
psutil==5.9.5
pydantic==1.10.13
pytest==7.4.3
Requests==2.31.0
rich==13.6.0
scikit_learn==1.3.1
setuptools==68.0.0
SQLAlchemy==1.4.49
sqlmodel==0.0.10
torch==2.1.0
torchmetrics==1.2.0
torchvision==0.16.0
tqdm==4.66.1
transformers==4.34.1
